<div class="head">
        <div class="logo">
            <h1>Portfolio <span> . </span></h1>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/" class="active"><span>Home</span></a></li>
               <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/service">Service</a></li>
             <li><a routerLink="/portfolio">Portfolio</a></li>
           <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>